<section class="padding-top"> 
    
    <div class="container" >
        <div class="even-columns-about-me" data-aos="fade-up">
            <div class="about-me-content" >
                <h1 data-aos="fade-up">About me</h1>
                <p data-aos="fade-up">
                    Hello, my name is Sinan Simsek. I'm a Jr. Front-End Developer based in Berlin, Germany. After my Fach-Abitur I studied at the Berliner Beuth Highschool for Technic (BHT) (until 2017). My favour for computers, coding and logical processes inspired me to join the Developer Akademie in Munich and become a Jr. Frontend-Web-Developer.
                </p>
                <div class="img-p-container" data-aos="fade-up">
                    <div class="img-container" data-aos="fade-up">
                        <img src="../../assets/img/lamp.png" alt="">
                    </div>

                    <p data-aos="fade-up">
                        I enjoy bringing ideas to life, planning carefully, write clean code and good documentation. Working in a team is also a lot of fun, and I am always open to agile working methods.
                    </p>
                </div>
                <div class="img-p-container" data-aos="fade-up">
                    <div class="img-container" data-aos="fade-up">
                        <img src="../../assets/img/puzzle.png" alt="">
                    </div>

                    <p>
                        
                    In January 2023, I finally decided to turn professional and started an online coding seminar 
                    at the Developer Akademie, a professional coding school based in Munich. 
                    It has been an incredible journey until now, filled with challenges, 
                    learning, and growth. Now, I am looking forward to starting my career in IT!
                    </p>
                </div>
            </div>
            <div class="portrait-container" >
                <img class="portrait-bg" src="../../assets/img/red-orange-shadow.png" alt="">
                <img class="portrait" src="../../assets/img/sinn-bewerbung.png" alt="" data-aos="fade-up">
            </div>
        </div>
        
    </div>
    
    <div class="bg-bow-container" >
        <img class="bg-bow" src="../../assets/img/bg-element.png" alt="">
    </div>
    
</section>