<section class="overflow-hidden padding-bottom">
    <div class="container">
        <img class="red-shadow-2" src="../../assets/img/red-shadow-2.png" alt="">
        <div class="contact-h1-wrapper" data-aos="fade-left">
            <h1>Contact</h1>
            <div class="orange-line-container">
                <div class="orange-line"></div>
            </div>
        </div>
        <div class="even-columns flex-column">
            <div class="contact-content">
                <div class="contact-h2-wrapper" data-aos="fade-right">
                    <div class="purple-line-container">
                        <div class="purple-line"></div>
                    </div>
                    <h2 >Got a problem to solve?</h2>
                </div>    
                    <p data-aos="fade-right">Contact me through this form, I am interested in hearing<br>
                        you, knowing your ideas and contributing to your projects<br>
                        with my work.
                    </p>
                    <p data-aos="fade-right">Need a Frontend Developer? <span class="contact-me">Contact me!</span></p>
            </div>
            
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()"  #myContact>
                <div class="contact-input" data-aos="fade-left">
                        <div class="inputwidth">
                            <div class="inputfield">
                                <input formControlName="name" type="text" placeholder="Your name" name="name" #nameField required>
                                <div *ngIf="(myForm.get('name')?.invalid && isSubmitted) || (myForm.get('name')?.invalid && myForm.get('name')?.touched)">
                                    <img src="../../assets/img/inputwrong.svg" alt="">
                                </div>
                                <!-- <div *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched"><img src="../../assets/img/inputwrong.svg" alt=""></div> -->
                                <div *ngIf="myForm.get('name')?.valid"><img src="../../assets/img/inputcorrect.svg" alt=""></div>
                            </div>
                            <div *ngIf="(myForm.get('name')?.invalid && isSubmitted) || (myForm.get('name')?.invalid && myForm.get('name')?.touched)">
                                <p class="error" > Your name is required!</p>
                            </div>
                        </div>
                    
                        <div class="inputwidth">
                            <div class="inputfield">
                                <input formControlName="email" type="email" placeholder="Your email" name="email" #emailField required>
                                <div *ngIf="(myForm.get('email')?.invalid && isSubmitted) || (myForm.get('email')?.invalid && myForm.get('email')?.touched) ">
                                    <img src="../../assets/img/inputwrong.svg" alt="">
                                </div>
                                <!-- <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched"><img src="../../assets/img/inputwrong.svg" alt=""></div> -->
                                <div *ngIf="myForm.get('email')?.valid"><img src="../../assets/img/inputcorrect.svg" alt=""></div>
                            </div>
                            <div *ngIf="(myForm.get('email')?.invalid && isSubmitted) || (myForm.get('email')?.invalid && myForm.get('email')?.touched)">
                                <p class="error" > Your email is required!</p>
                            </div>
                        </div>

                        <div class="inputwidth">
                            <div class="textareafield">
                                <textarea formControlName="message" placeholder="Your message ..." name="message" #messageField required></textarea>
                                <div *ngIf="(myForm.get('message')?.invalid && isSubmitted) || (myForm.get('message')?.invalid && myForm.get('message')?.touched)">
                                    <img src="../../assets/img/inputwrong.svg" alt="">
                                </div>
                                <!-- <div *ngIf="myForm.get('message')?.invalid && myForm.get('message')?.touched"><img src="../../assets/img/inputwrong.svg" alt=""></div> -->
                                <div *ngIf="myForm.get('message')?.valid"><img src="../../assets/img/inputcorrect.svg" alt=""></div>
                            </div>
                            <div *ngIf="(myForm.get('message')?.invalid && isSubmitted)  || (myForm.get('message')?.invalid && myForm.get('message')?.touched)">
                                <p class="error" > Messages must be at least 5 characters long.</p>
                            </div>
                        </div>
                    
                    <button class="main-button" type="submit" #btnSendField >Send message :)</button>
                    <p class="sendP dnone" id="btnSend"> Message successfully sended!</p>
                </div>
            </form>

            

        </div>
        <div class="up-button" >
            <a href="#">
                <img src="../../assets/img/scrolluparrow.svg" alt="">
            </a>
        </div>
    </div>
</section>