.imprint-container {
    padding-top: 180px;
    display: flex;
    position: relative;
    max-width: 100%;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--mainDark);
    overflow-x: clip;
    gap: 10px;
    font-size: 14px;
}

.imprint-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-inline: auto;
    align-items: baseline;
    width: 90%;
}
